/*
Template Name: Admin Template
Author: Niravjoshi / Wrappixel
File: scss
*/


/**
 * Table Of Content
 *
 *  1. Color system
 *  2. Options
 *  3. Body
 *  4. Typography
 *  5. Breadcrumbs
 *  6. Cards
 *  7. Dropdowns
 *  8. Buttons
 *  9. Typography
 *  10. Progress bars
 *  11. Tables
 *  12. Forms
 *  14. Component
 */

@import 'all/custom/variables.scss';
// Import Bootstrap source files (Required file)
@import 'all/bootstrap/bootstrap.scss';
@import 'all/custom/custom.scss';
// Custom style
.card .breadcrumb {
    margin-bottom: 0 !important;
    border-radius: 50px !important;
    background-color: white;
}

.form-required {
    div {
        border-color: #f62d51;
        &:hover {
            border-color: #f62d51;
        }
    }
}

.form-group.required .control-label:after {
    content: '*';
    color: #f62d51;
}

.control-note:before {
    content: '*';
    color: #f62d51;
}

.dash-total {
    .card-body {
        background: url('../images/dashboard/total-back.png') no-repeat center center fixed;
        background-size: cover;
        border-radius: 4px;
    }
}

.dash-login {
    .card-body {
        background: url('../images/dashboard/login-back.png') no-repeat center center fixed;
        background-size: cover;
        border-radius: 4px;
    }
}

.dash-active {
    .card-body {
        background: url('../images/dashboard/active-back.png') no-repeat center center fixed;
        background-size: cover;
        border-radius: 4px;
    }
}

.dash-blocked {
    .card-body {
        background: url('../images/dashboard/blocked-back.png') no-repeat center center fixed;
        background-size: cover;
        border-radius: 4px;
    }
}

.auth-box {
    transition: 1s;
}

.mini-login {
    padding: 0 !important;
    top: 40px !important;
    right: -270px !important;
    height: 52px !important;
    transition: 1s;
}

.mini-wrapper {
    background: url('../images/background/login2.png') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}
